title: A/B Color Message Manager - Feature Requirements
body:   

  

Target release|  
---|---  
Epic|

  
  
  
Document status|

YellowDRAFT  
  
Document owner|  
  
Designer|  
Developers|

  
  
  
QA|  
  
  
  

## Goals

  * Allow customers to run their own A/B testing while using message manager (Color or B&W)
  * Use existing platforms to provide the ability to run A/B Testing
  * Providing data analytics to help clients compare black & white message manager vs. color message manager success rates
  * Competitive edge for InfoIMAGE in the long run

## Background and strategic fit

The reason for this addition to an already existing product is to provide our
clients with the ability to easily split their customers/members into two
categories while being able to run case studies, that show the benefit of
using color vs B&W.

## Assumptions

  * Message manager will use QR code for end user to connect to the click tracking and client's websites
  * The client will provide two different URLs for tracking via QR code
  * Assume will have a designed person/team building data analytics platform
  * By doing this we will be need to combine color message manager and B&W message manager into a single message manager to allow clients to decide using color message or B&W message
  * Pricing will be at two different points b/w and color

## Not Doing

  * No actual URLs will be provided due to space restrictions within the message itself

## Release Schedule

Feature Name| Sprint| Start Date| End Date| Status| Comment  
---|---|---|---|---|---  
  
|  
|  
|  
|  
|  
  
  
|  
|  
|  
|  
|  
  
  
|  
|  
|  
|  
|  
  
  
## Feature Requirements for A/B Color Message Manager

  
| Title| User Story / Brief on the feature request| Importance| Notes|
Comments  
---|---|---|---|---|---  
1| Message manager will use QR code for data analytics|

  * This will allow the end-user to quickly scan the QR code to take them to the correct landing page.
  * Using this information and reporting from the QR URL will allow us to provide the analytics to the user 

|  
|

  * Append QR code over message manager is an option

|  
  
2|

The client will provide two different URLs for tracking via QR code

|

  * This will be needed so that we are able to track the differences for the analytics moving forward

|  
|

  * Using one URL will make differentiating analytics impossible 

|  
  
3| Designated person/team building data analytics platform|

  * Having a team focused on analytics will free up time that will be taken from development. 
  * This team will be able to develop analytics at a higher level and will provide more insight for Operations and Marketing

|  
|

  * Current staff/offshore staff exhausted
  * Currently do not have a data analytics platform to use

|  
  
4| Clients will eventually all be on color message manager|  
|  
|

  * To make analytics easier and less complicated in future
  * This will also be brought up by clients asking why Color and Black and white are going to cost the same. 
  * Black is technically a color and is why you will see this as a separate price point on CMM

|  
  
5| Criteria built into platform that will allow for easily splitting half of
the audience into A category and B category|

  * We will need to store who is assigned what category for this on InfoTRAC
  * Also, we will need to assign the specific QR code off of the split. 

|  
|  
|  
  
6| QR code generator|

  * Ability to track category A vs B
  * Ability to track customer A hit point vs customer B hit point
  * Ability to consolidate that data into a format understandable by clients

|  
|

  * The most important feature that will separate category A from category B

|  
  
7|  
|  
|  
|  
|  
  
8|  
|  
|  
|  
|  
  
9|  
|  
|  
|  
|  
  
10|  
|  
|  
|  
|  
  
  
# A/B Color Message Manager Workflow

  

  

## Questions

  

Below is a list of questions to be addressed and answered in the product
meetings:

Question| Outcome  
---|---  
Is this similar to click tracking, which was developed previously but not
implemented?|  
  
  
|  
  
  
|  
  
  
  

  

  


