title: Business Requirements and Use Cases
body: **ID**|  **Feature**|  **Functionality**|  **Details**|  **ScreenMock**|
**Importance**  
---|---|---|---|---|---  
 **MEMBER SITE**  
BRQ-01| One-Time Payment| Account Verification|  
|  
|  
  
BRQ-02| One-Time Payment| View Bill|  
|  
|  
  
BRQ-03| One-Time Payment| Pay Minimum Due amount by Checking Account|  
|  
|  
  
BRQ-04| One-Time Payment| Pay Entire Balance amount by Checking Account|  
|  
|  
  
BRQ-05| One-Time Payment| Pay custom amount (less than balance) by Checking
Account|  
|  
|  
  
BRQ-06| One-Time Payment| Pay custom amount (more than balance) by Checking
Account|  
|  
|  
  
BRQ-07| One-Time Payment| Manage additional Principal/Escrow payment amounts
by Checking Account|  
|  
|  
  
BRQ-08| One-Time Payment| Pay Minimum Due amount by Credit/Debit Card|  
|  
|  
  
BRQ-09| One-Time Payment| Pay Entire Balance amount by Credit/Debit Card|  
|  
|  
  
BRQ-10| One-Time Payment| Pay custom amount (less than balance) by
Credit/Debit Card|  
|  
|  
  
BRQ-11| One-Time Payment| Pay custom amount (more than balance) by
Credit/Debit Card|  
|  
|  
  
BRQ-12| One-Time Payment| Manage additional Principal/Escrow payment amounts
by Credit/Debit Card|  
|  
|  
  
BRQ-13| One-Time Payment| Apply a second payment to the same invoice|  
|  
|  
  
BRQ-14| One-Time Payment| Email confirmation|  
|  
|  
  
BRQ-15| On-Demand Payment| Pay Now - Minimum Due amount by Checking Account|  
|  
|  
  
BRQ-16| On-Demand Payment| Pay Now - Entire Balance amount by Checking
Account|  
|  
|  
  
BRQ-17| On-Demand Payment| Pay Now - custom amount (less than balance) by
Checking Account|  
|  
|  
  
BRQ-18| On-Demand Payment| Pay Now - custom amount (more than balance) by
Checking Account|  
|  
|  
  
BRQ-19| On-Demand Payment| Pay Now - Manage additional Principal/Escrow
payment amounts by Checking Account|  
|  
|  
  
BRQ-20| On-Demand Payment| Pay Now - Minimum Due amount by Credit/Debit Card|  
|  
|  
  
BRQ-21| On-Demand Payment| Pay Now - Entire Balance amount by Credit/Debit
Card|  
|  
|  
  
BRQ-22| On-Demand Payment| Pay Now - custom amount (less than balance) by
Credit/Debit Card|  
|  
|  
  
BRQ-23| On-Demand Payment| Pay Now - custom amount (more than balance) by
Credit/Debit Card|  
|  
|  
  
BRQ-24| On-Demand Payment| Pay Now - Manage additional Principal/Escrow
payment amounts by Credit/Debit Card|  
|  
|  
  
BRQ-25| On-Demand Payment| Pay on Future Date - Minimum Due amount by Checking
Account|  
|  
|  
  
BRQ-26| On-Demand Payment| Pay on Future Date - Entire Balance amount by
Checking Account|  
|  
|  
  
BRQ-27| On-Demand Payment| Pay on Future Date - custom amount (less than
balance) by Checking Account|  
|  
|  
  
BRQ-28| On-Demand Payment| Pay on Future Date - custom amount (more than
balance) by Checking Account|  
|  
|  
  
BRQ-29| On-Demand Payment| Pay on Future Date - Manage additional
Principal/Escrow payment amounts by Checking Account|  
|  
|  
  
BRQ-30| On-Demand Payment| Pay on Future Date - Minimum Due amount by
Credit/Debit Card|  
|  
|  
  
BRQ-31| On-Demand Payment| Pay on Future Date - Entire Balance amount by
Credit/Debit Card|  
|  
|  
  
BRQ-32| On-Demand Payment| Pay on Future Date - custom amount (less than
balance) by Credit/Debit Card|  
|  
|  
  
BRQ-33| On-Demand Payment| Pay on Future Date - custom amount (more than
balance) by Credit/Debit Card|  
|  
|  
  
BRQ-34| On-Demand Payment| Pay on Future Date - Manage additional
Principal/Escrow payment amounts by Credit/Debit Card|  
|  
|  
  
BRQ-35| On-Demand Payment| Apply a second payment to the same invoice|  
|  
|  
  
BRQ-36| On-Demand Payment| Email confirmation|  
|  
|  
  
BRQ-37| Automatic Payments| Set up Min Due amount using a Checking Account|  
|  
|  
  
BRQ-38| Automatic Payments| Set up custom amount using a Checking Account|  
|  
|  
  
BRQ-39| Automatic Payments| Manage additional Principal/Escrow payment amounts
by Checking Account|  
|  
|  
  
BRQ-40| Automatic Payments| Set up Min Due amount using a Credit/Debit Card|  
|  
|  
  
BRQ-41| Automatic Payments| Set up custom amount using a Credit/Debit Card|  
|  
|  
  
BRQ-42| Automatic Payments| Manage additional Principal/Escrow payment amounts
by Credit/Debit Card|  
|  
|  
  
BRQ-43| Automatic Payments| Email confirmation|  
|  
|  
  
BRQ-44| Manage Payment Accounts| Add new (non-expired) Checking Account|  
|  
|  
  
BRQ-45| Manage Payment Accounts| Add new (non-expired) Credit/Debit Card|  
|  
|  
  
BRQ-46| Manage Payment Accounts| Add new (expired) Checking Account|  
|  
|  
  
BRQ-47| Manage Payment Accounts| Add new (expired) Credit/Debit Card|  
|  
|  
  
BRQ-48| Manage Payment Accounts| Set default payment account to the member's
checking account with the FI|  
|  
|  
  
BRQ-49| Paperless Management| Change to Paper delivery (should have no effects
on payments)|  
|  
|  
  
BRQ-50| Payment History| View Payment History|  
|  
|  
  
BRQ-51| Payment History| Cancel Payment|  
|  
|  
  
BRQ-52| Bill Presentment| View Bill|  
|  
|  
  
BRQ-53| Bill Presentment| Enter Payment Amount on PDF (< amount due) and
submit|  
|  
|  
  
BRQ-54| Bill Presentment| Enter Payment Amount on PDF (= amount due) and
submit|  
|  
|  
  
BRQ-55| Bill Presentment| Enter Payment Amount on PDF (> amount due) and
submit|  
|  
|  
  
BRQ-56| Bill Presentment| Scan QR code to reach payment page|  
|  
|  
  
 **AI SITE**  
BRQ-57| Bill Presentment| View Bill|  
|  
|  
  
BRQ-58| Payment History| View Payment History|  
|  
|  
  
BRQ-59| On-Demand Payment (on behalf of member)| Pay Now - Minimum Due amount
by Checking Account|  
|  
|  
  
BRQ-60| On-Demand Payment (on behalf of member)| Pay Now - Entire Balance
amount by Checking Account|  
|  
|  
  
BRQ-61| On-Demand Payment (on behalf of member)| Pay Now - custom amount (less
than balance) by Checking Account|  
|  
|  
  
BRQ-62| On-Demand Payment (on behalf of member)| Pay Now - custom amount (more
than balance) by Checking Account|  
|  
|  
  
BRQ-63| On-Demand Payment (on behalf of member)| Pay Now - Manage additional
Principal/Escrow payment amounts by Checking Account|  
|  
|  
  
BRQ-64| On-Demand Payment (on behalf of member)| Pay Now - Minimum Due amount
by Credit/Debit Card|  
|  
|  
  
BRQ-65| On-Demand Payment (on behalf of member)| Pay Now - Entire Balance
amount by Credit/Debit Card|  
|  
|  
  
BRQ-66| On-Demand Payment (on behalf of member)| Pay Now - custom amount (less
than balance) by Credit/Debit Card|  
|  
|  
  
BRQ-67| On-Demand Payment (on behalf of member)| Pay Now - custom amount (more
than balance) by Credit/Debit Card|  
|  
|  
  
BRQ-68| On-Demand Payment (on behalf of member)| Pay Now - Manage additional
Principal/Escrow payment amounts by Credit/Debit Card|  
|  
|  
  
BRQ-69| Email Proofing| Confirmation Email for Successful Checking Account
Payment (Covers One-time Payments, On-Demand Payments and Automatic Payments)|  
|  
|  
  
BRQ-70| Email Proofing| Confirmation Email for Failed Checking Account Payment
(Covers One-time Payments, On-Demand Payments and Automatic Payments)|  
|  
|  
  
BRQ-71| Email Proofing| Confirmation Email for Successful Credit/Debit Card
Payment (Covers One-time Payments, On-Demand Payments and Automatic Payments)|  
|  
|  
  
BRQ-72| Email Proofing| Confirmation Email for Failed Credit/Debit Card
Payment (Covers One-time Payments, On-Demand Payments and Automatic Payments)|  
|  
|  
  
BRQ-73| Email Proofing| Confirmation Email for Scheduling Checking Account
Payment (Covers On-Demand Payments)|  
|  
|  
  
BRQ-74| Email Proofing| Confirmation Email for Scheduling Credit/Debit Card
Payment (Covers On-Demand Payments)|  
|  
|  
  
BRQ-75| Reports| Generate Payment Report based on date range|  
|  
|  
  
BRQ-76| Reports| Export Payment Report into txt/Excel formats|  
|  
|  
  
BRQ-77| Reports| Export Payment Report into ACH file formats|  
|  
|  
  
  
  
[Edit this
section](https://i3dev.easyredmine.com/projects/embedded_payments/wiki/Business_Requirements_and_Use_Cases/edit?section=2)

## [acctId/acctNum? which one should be used as destination account for
epay.](https://i3dev.easyredmine.com/projects/embedded_payments/wiki/_acctIdacctNum_which_one_should_be_used_as_destination_account_for_epay)


