title: Direct Mail - Feature Requirements
body:   

  

Target release|  
  
---|---  
Epic|

  
  
  
Document status|

YellowDRAFT  
  
Document owner|  
  
Designer|  
  
Developers|

  
  
  
QA|  
  
  
  

## Goals

  * Fill mid-month production
  * Quick turnaround time
  * One-off campaigns

## Background and strategic fit

The usage case for Direct Mailing are regulatory/global notifications for our
client's customers that provide convenience and build our relationship with
our clients. Adding Direct Mail will help:

  * Allow us to start off with a basic foundation to rebuild relationships with clients
  * Build our clients' confidence due to absence of any variable data or complexity
  * Later add more high value work with variable data and high profit margins (Eg. pre-approval campaigns, welcome kits)

## Assumptions

  * Mid-month production
  * One document template per direct mail job
  * One data file to do mail merge per direct mail job
  * Needs to fit within operations guidelines
  * Team support ticket for IS managers to quote and ensure it fits the guidelines
  * 10 business day SLA and if month/quarter/year-end, add 3 business days for 13 business day SLA
  * Assume will have a designated IS developer to work on the task
  * Digital signing (eg. Adobe Acrobat)

## Not Doing

  * No color matching

  * No compositions: Just a Logo and signature graphics are the maximum allowable graphic resources.

  * No selective inserts
  * No recurring requests 

## Release Schedule

Feature Name| Sprint| Start Date| End Date| Status| Comment  
---|---|---|---|---|---  
  
|  
|  
|  
|  
|  
  
  
|  
|  
|  
|  
|  
  
  
|  
|  
|  
|  
|  
  
  
## Feature Requirements for Direct Mail

  
| Title| User Story / Brief on the feature request| Importance| Notes|
Comments  
---|---|---|---|---|---  
1| One document template per direct mail job|

  * Maximum is one-page.  Simplex or duplex
  * Maximum number of address lines is 6 lines.
  * Customer needs to provide us return address as deliverables.

|  
|

  * @Rose Must allow for variable or simple nested variable.

| Peter & Terrence stated that this will make it more turnkey to commit to the
10 day/13 day SLA.  
2| One data file to do a mail merge|

  * Data file needs to be in tab delimited, pipe delimited or 'comma' delimited file format.  Ideally pipe and tab are preferred.  (i.e. no PDF, PCL, TIFF input, etc...)

|  
|  
|  
  
3| Needs to fit within operations guidelines|

  * Please refer to OPS double window and paper specs
  * House 8.5x 11 regular white
  * #10 or 6 x 9 Envelopes.

|  
|  
|  
  
4| Designated IS developer|

  * For this to be viable we need to have a designated IS developer for this product

|  
|

  * @Rose This is resource and not a feature.

|  
  
5| Digital Signing|

  * Per Rose's request we need an easy way to document and sign estimates for this product to collect revenue

|  
|

  * @Rose Correction- The direct mail must include a digitized signature at the end of the letter. 
  * @Rose Please include spec to collect this deliverable.

|  
  
6| No color matching|  
|  
|  
|  
  
7| No complex composition work|

  * Just a Logo and signature graphics is the maximum allowable graphic resources

|  
|

  * @Rose Color to match logo only. 
  * @Rose Please have spec to collect deliverable.

|  
  
8| No selective inserts|  
|  
|  
|  
  
9| No recurring requests|

  * If it is recurring it will become a normal IMP project and an addendum will be needed. 

|  
|  
|  
  
10| Fixed Price|

  * Need to have a very specific definition of what is a job.
  * Anything outside of this scope is a custom job and would require TS ticket

|  
|

  * Reason for this is to avoid back and forth of PRs
  * @Rose IS & ISD to provide fix setup fee.
  * @Rose Rose to provide standard pricing- Print volume tier
  * @Rose Price variance by ink coverage

|

Per Will: Peter/Terrence strongly prefers for PR to confirm that the
guidelines are met before we accept DM job. Please advise if we can add to the
workflow. Will's team has good response time to PR tickets so should have a
good response time to verify each direct mail job request.  
  
# Direct Mail (DM) Workflow

## Questions

  

Below is a list of questions to be addressed and answered in the product
meetings:

Question| Outcome  
---|---  
Will there be a minimum volume for this product since there is a fixed price
and what is that minimum vol?|

  * @Rose 500 pieces
  * @Guy  10,000 pieces, will need to discuss on 6/18 meeting

  
Do we need to have different pricing for color or black and white documents?|

  * @Rose Yes, Rose will provide standard pricing.

  
  
|  
  
  
|  
  
  
  

  

  


