title: InfoREACH - Direct Mail (DM) - Feature Requirements
body:   

  

Target release| InfoREACH 2.0  
---|---  
Epic| Link to related Jira epic or feature  
Document status|

YellowDRAFT  
  
Document owner|  
  
Designer|

    
  
Developers|  
  
QA| Lead tester  
  
  

## Goals

  * Use InfoREACH platform to create Direct Mail (DM) pieces
  * Customizable design process
  * One-off campaigns / omnichannel marketing capabilities
  * Collect payments virtually, via ACH

## Background and strategic fit

The reason for adding the capability of Direct Mail through InfoREACH is to
form a link between our digital marketing feature and traditional ad copy,
forming an omnichannel system for our Financial Institutions. The benefits to
our Financial Institutions:

  * Higher engagement levels - meaning it is the most impactful when included with a marketing campaign at a response rate of almost 10-30 times higher than email marketing response rates.
  * Win over targeted new customers - able to target based on more features other than email
  * Direct Mail is more frequently redeemed - Direct Mail is highly visible, and leads to a much higher response rate than email marketing and other forms
  * Omni-channel Focus - bringing this all together in InfoREACH allows marketing executives to plan holistically
  * Time Saver

## Assumptions

  * Users will need to be able to access this feature from their desktops
  * Print from InfoREACH - DM will not interrupt month-end production
  * There will be an ending point to every day on when IR-DM jobs will not be processed for that day
  * Jobs will be compiled as one, from all campaigns, to be sent over together so as to limit the number of jobs being sent
  * Users will pay postage via ACH and invoiced
  * Design capabilities similar to digital component

## Not Doing

  * At this point in time (5/13) we will not be supporting inserts. This will need to be addressed at some point in the future

  * At this point in time, (5/13) we will not be supporting PDF Archival and/or eStatements for this feature.

## Release Schedule

Feature Name| Sprint| Start Date| End Date| Status| Comment  
---|---|---|---|---|---  
  
|  
|  
|  
|  
|  
  
  
|  
|  
|  
|  
|  
  
  
|  
|  
|  
|  
|  
  
  
## Feature Requirements for InfoREACH - Direct Mail

  
| Title| User Story / Brief on the feature request| Importance| Notes  
---|---|---|---|---  
1| Batch Direct Mail Campaign| This will be to mitigate the number of jobs
that are being sent over to the operations team. | Must have|

  * Cut-off times need to be accounted for
  * Cut-off times need to be displayed for users so they understand where their mailpiece is in the operations process
  * Essentially like a holding/collection tank that a certain point in the day release the overall job to production.

  
2| Mail Piece Identifier| Having a question at the beginning of the process to
identify for InfoIMAGE and the marketing departments to correctly identify the
type of mailing that they are going to be sending and creating in InfoREACH -
DM| Must have|

  * Protects us from mail fraud
  * Helps Identify the proper postage to be sent
    * First Class
    * USPS Marketing Mail
  * <https://pe.usps.com/StandardMailEligibility/Index>
  * I believe users will use this tool as a letter generating tool as well as a marketing mail tool. 

  
3| Customizable Design Process| Allowing users to select the medium in which
they want their mail piece will add a level of design that is different from
your standard 8.5x11. | Must have|

  * Paper Type
  * Paper Size
  * Envelope Type
  * Postcard

  
4| Collect Payments Virtually|

This will reduce the delay in waiting for postage and processing time for
print jobs.

Making the pricing for InfoREACH all around _SIMPLE_ will prove as a benefit
to us in the long run.

  

Follow current methods for collecting only for Postage fund. ACH only

| Must have|

  * ACH accepted for Postage
  * Invoicing program sent to the consumer
  * Invoicing program displayed for consumer
  * Invoicing estimation generator
  * Meeting with Accounting to see how to set up the accounts for this process
  * We will need to display the postage balance that is remaining after a  job is complete. 
  * Break postage into its own category so that postage is only calc and not the print. 
  * Print price needs to also be separated from Postage

  
  
5| Tracking| Real-time dashboards that show analytics, and insights on the
mail piece. The link between digital and direct will be key. Demonstrate ROI
to key stakeholders| Must have|

  * A more in-depth analysis tool will be key for this success / delivered pieces / undeliverable pieces / returned pieces
  * Introduction to KPI and calculations happening on our end
  * Where the direct mail piece is within the process (dominoes pizza delivery timer)
  * DT-Job ID is the unique id for tracking a job

  
6| Preview Option| The ability for the user to see what their Direct Mail will
look like on a mock document | Must have|

  * Seen throughout the industry
  * Since we most likely won't be doing color matching this is the next best thing we can do for our Financial Institutions

  
7| PRP System|  
| Consideration|

 can you two elaborate on this  
  
8| UI/UX| Update and upgrade the UI/UX to make this process a smooth process|
Want|

  * In IR's current state users complain about the steps being labor-intensive. 
  * Building the Direct Mail component we need to take this into consideration as this will add another layer to the complexity

  
9| Printing of Marketing Collateral / Print on Demand| Having the ability to
print not only Direct Mail pieces but the ability to print marketing
collateral for our Financial Institutions will be something that is asked. |
Want|

  * Brochures
  * Slicks
  * Postcard Material
  * Business Cards

  
10| Letterizer / Letter writing tool capabilities / Print on Demand| Allow
users to select and identify direct mail pieces for the use of notices or
reminders. Having a designated view would allow for the distinction between
marketing and operations. | Want|

  * Must be repeatable
  * Must be able to track 
  * Must be able to inform the FI of processing etc. 
  * Use of variables need to be included

  
11| QR Code Generator| QR codes are making a comeback due to the incorporation
into most mobile camera systems. Because of this, now companies are able to
use omnichannel marketing with the link from the paper document to the mobile
website| Want|

  * Link to URL
  * Tracking capabilities
  * Link to KPI calculations

  
12| Integrated Data Ingestion| From their own audience allow targeting based
on geography, demographics, firmographics, and psychographic. | Want|

  * Integration with mailing lists
  * Integration with data files
  * Forwarding data via APIs and webhooks to any third-party integrations
  * Custom Field mapping

  
13| Personalization| Marketing users want to target individuals directly. By
adding in the personal touch they increase their ROMI which in turn brings the
FI more profit. Having this customization is a must-have when looking at
digital marketing and direct mail pieces| Pipe Dream|

  * Allow users to target specific individuals based off segments
  * Allow users to use variables if needed to customize the mailpiece

  
14| Drip Campaigns / Triggered Campaigns / One Off / Omni Channel Marketing|
Past experiences with Direct Mail Campaigns were a batch and blast process for
large campaigns. Allowing for drip campaign setup as well as batch and blast
campaigns will provide the user flexibility on what they are wanting to send.|
Pipe Dream|

  * Drip Campaigns = triggered event, personalized, flexible for the end-user, direct mail or messages sent over a period of time
  * Combined with the digital aspect will allow for customer/member nurture
  * Designate direct mail campaigns via different colour from digital campaigns
  * Will need to build up CRM component of our tool, collecting more data and having more capabilities to edit/add information

  
15| Analytics| Allow marketing users the ability to run predictive data
analytics and use the output to then send out direct mail pieces| Pipe Dream|

  * AI-powered research

  
16| Segmentation Tool / Retargeting| Update UI/UX and features of this tool to
allow for Direct Mail marketing based on geographic regions. Have the ability
to create lookalike audiences and retarget users.| Pipe Dream|

  * UI/UX should feature a map with population bubbles for the segments created. 

  
17| Templates| Template database to allow a user to select a base template so
that they are able to build off an idea for quicker completion. | Pipe Dream|

  * Design experts would need to create for each page layout a different set of templates

  
18| Envelope Printing| Have the ability to print on envelopes to grab
addressees attention| Pipe Dream|

  * At its current state, we need to outsource this
  * This might be a domino if we can't figure out how we can do this quickly and effectively. 

  
19| Mobile Capabilities| Creating an app so as users can use across mobile
devices would be a benefit| Pipe Dream|  
  
20| Retargeting Capabilities on II end| We need to have the ability from the
InfoIMAGE side to know if there was an abandoned cart or invoice so we can
target those users to see if they are still willing to move forward| Pipe
Dream|  
  
21| Standard Mail vs First Class Mail| Allow the user to decide on which
format he/she would like to send out their direct mail pieces.| Pipe Dream|

  * USPS First Class Mail: 5-7 business day delivery <- example
  * USPS Standard Mail: 14-17 business day delivery <- example
  * Different pricing for these would occur
  *  _The average cost for a direct mail campaign is between $.30 to $20 per recipient_
  * Put on hold for now

  
  
# InfoREACH - Direct Mail (DM) Workflow

##

## Questions

  

Below is a list of questions to be addressed and answered in the product
meetings:

Question| Outcome  
---|---  
Are we planning to consolidate multiple campaigns into 1 print job (based on
volume or specific date)?|

I believe we answered this in the above.  If not please let me know and I will
address this.  
  
Are we planning to run(print) any campaign during Month End or Quarter End?|

my vote on this is no, at least at the moment, this could change but for now,
we get the product up and running.  
  
Does PC need to create a dt_job_id and job docket for each campaign or each
Print cycle?|  
  
How do we keep track of the client who has submitted the postage fund before
we proceed with printing and mailing?|

 to me this needs to be displayed under the invoice feature as this will lead
to lots of confusion and potential anger.  
  
If we are combining multiple campaigns into 1 print job, how do we handle the
situation if one of the campaigns is not ready due to insufficient funds?| It
doesn't go until we have the funds.  
Will the scheduled drop date and actual drop date be available for these jobs
on DataTrac's database?|  
  
What is the definition of personal information/data?|

 **From the GDPR**

Personal data are any information which are related to an identified or
identifiable natural person.

The data subjects are identifiable if they can be directly or indirectly
identified, especially by reference to an identifier such as a name, an
identification number, location data, an online identifier or one of several
special characteristics, which expresses the physical, physiological, genetic,
mental, commercial, cultural or social identity of these natural persons

Since the definition includes "any information," one must assume that the term
"personal data" should be as broadly interpreted as possible

 **From the CCPA**

  1.  **Identifiers:  **Name, alias, postal address, unique personal identifier, online identifier, Internet Protocol (IP) address, email address, account name, social security number, driver's license number, passport number, or other similar identifiers
  2.  **Customer records information:  **Name, signature, social security number, physical characteristics or description, address, telephone number, passport number, driver's license or state identification card number, insurance policy number, education, employment, employment history, bank account number, credit or debit card number, other financial information, medical information, health insurance information
  3.  **Characteristics of protected classifications under California or federal law:  **Race, religion, sexual orientation, gender identity, gender expression, age
  4.  **Commercial information:  **Records of personal property, products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies
  5.  **Biometric information:  **Hair color, eye color, fingerprints, height, retina scans, facial recognition, voice, and other biometric data
  6.  **Internet or other electronic network activity information:  **Browsing history, search history, and information regarding a consumer's interaction with an Internet website, application, or advertisement
  7.  **Geolocation data**
  8.  **Audio, electronic, visual, thermal, olfactory, or similar information**
  9.  **Professional or employment-related information**
  10.  **Education information:  **Information that is not "publicly available personally identifiable information" as defined in the California Family Educational Rights and Privacy Act (20 U.S.C. section 1232g, 34 C.F.R. Part 99)
  11.  **Inferences**

  
Ask lawyers about mailing questions?|

I will be formulating the question so as when we meet with the lawyers they
can start somewhere. In talking with Tomas he believes that the disclaimer
should be enough but to have the question ready just incase.  
  
How are we going to be able to split the postage out? Print price | postage
price?

  

No international

|

Rose  
  
For Marketing Mail, does USPS still requirement us to use NCOA when processing
the marketing mail?  If not, I need to explicitly have our new global direct
mail processing program to  _not_ invoke the NCOA program.  | Tina  
  
  

  


