title: Mobile SSO Requirements
body:   1. Ability for InfoIMAGE to install both android and iOS app. Either available for sideload through an .apk/playstore download for android phones or the iOS's app store.
  2. Login credentials to a test account on both development and production

### Technical requirements for each device detailed below:

  

 ** _Android_**

  

Android version - 5 or higher (Latest android version is 11.0)

Android API version - 21 or higher (Latest API version is 30)

Webview should be used for loading web contents(InfoIMAGE estatement site).

  

Couple of notes regarding Webview :

  

* Javascript should be enabled in WebView as our site uses Javascript. By default, Javascript is disabled in a Webview.

  

* For cookies, normally it should work when Webview is initialized. Webview automatically syncs cookies for API level >= 21, but if it doesn't work, enabling cookies in android codebase fixes the issue.

  

* Clicks on Webview should be intercepted so that browsing web contents never leaves the app.

  

 ** _iOS_**

  

iOS version - 8 or higher (Latest iOS version is iOS 14)

WKWebView should be used for loading web contents(our estatement site), as
UIWebview for iOS is deprecated. Javascript is enabled by default in
WKWebView.


