title: Requirements
body: ## Hypercube Event Tracking

We will need insert log record to log_record table.

  

    
    
    Name          Null     Type          
    ------------- -------- ------------- 
    LOG_TIME      NOT NULL DATE          
    ORG_ID        NOT NULL NUMBER        
    USR_ID                 NUMBER        
    EVENT_TYPE    NOT NULL VARCHAR2(10)  
    LOG_MSG                VARCHAR2(256) 
    LOG_REMOTE_IP          VARCHAR2(15)  
    
    Events and corresponding log_msg
    (1)    viewnotice - noticeId
    (2)    viewinsert - eaId
    (3)    viewstmt - stmtId
    (4)    sso - sess_login_id
    (5)    login - sess_login_id
    (6)    viewcheck - checkId
    (7)    viewtax - taxId
    (8)    viewselinsert - insertId
    
    

  

# Q & A

 **PSI work flow detail**  
Q:  **In paperless table, we have stmtType, how to represent the value on
UI?**  
A:  
  

# Summarized Change Log

Date| Who| Changes to Design Doc  
---|---|---  
2015-08-26| Zhe Shi| Initial Draft  
  
  

# Sign-Off

Group| Date| Who| Comment  
---|---|---|---  
XXXXXXX|  
|  
|  
  
XXXXXXX|  
|  
|  
  
  
  


