title: Secure PDF Print Processing Platform Requirements Documentation
body:   

  

Target release| Release name or number  
---|---  
Epic| Link to related Jira epic or feature  
Document status|

DRAFT  
  
Document owner|  
  
Designer| William Kong & Peter Dang  
Developers| Lead developer  
QA| Lead tester  
  
  

## Goals

  * Create a Print Processing application that we will generate the SecurePDF index files and trigger the eStatement PUI to process and send out SecurePDFs to our clients.  The design will leverage the current PDF archival global processing application to create these SecurePDF input files for the eStatement PUI system to process.

## Background and strategic fit

Why are you doing this? How does this relate to your overall product strategy?

## Assumptions

  * ISD will take care of the CheckSum logic when processing the SecurePDF document to ensure no duplicate processing occurs. ISD will ignore the "Zip File Name" column as that file name has a dynamic timestamp value which will change every time we process, even if it is a duplicate file.

## Requirements

#| Title| User Story| Importance| Notes  
---|---|---|---|---  
1| Papyrus Global External DFA Module for SecurePDF| IS developers will need
to use this global external DFA module that will have the standard "Group
Indexing" variables for the PDF Archival processing application to parse.|
Must Have|  
  
2|  PDF Archival Global Support - Adding SecurePDF module logic| The PDF
Archival processing program will dynamically generate the SecurePDF input
files based on parsing the "Group Indexing" variables from the big AFP file
generated by the Papyrus engine. |

 Must Have

|

  
  
  
3| Implement Secure PDF Index File & Individual Secure PDFs specifications|
The internal Secure PDF Index File & individuals Secure PDF file
specifications designed by ISD department is located under the InfoIMAGE space
called "Notification File Specifications".  |  Must Have|

  * Reference Link:
  * <https://confluence.infoimageinc.com/x/QABbB>

  
  
## Functional and/or Business Logic Requirements:

#| Title| Description| Importance| Notes  
---|---|---|---|---  
1| Defaulting Account Holder Name to "Client" in the SecurePDF Index File
based on filter.|

Based on the customer input file, often times we may see values that don't
correspond to the end user's full name.  This will be a _global_ logic if we
see the following values, we will use "Client" as the name:

  * Empty Line (i.e. If the name field in customer file is empty)
  * ** DO NOT MAIL **
  * DO NOT MAIL
  * HOLD MAIL

| Must Have|

  * Pattern matching is case insensitive.
  * This logic is applied to the global DFA module.
  * We should add a threshold warning logic if we update too many Account Holder Names to the default.  This is a warning measure to DP and/or IS team in case the entire data file has this condition OR we have a DFA programming bug mapping the correct account holder name field to the customer data file.

  
2| Account Number is required| If ANY documents does not have an account
number, the IS print processing application will exit out.| Must Have|  
  
3| PDF File Size Limitation| The maximum individual PDF file is is 25MB.| Must
Have|

  * 9/9/2019:  Please double check with ISD & Network if 25MB is the agreed upon Maximum individual PDF file size.

  
4| Exclude SecurePDF files that have missing data elements|

For the following situations, these documents will not be included in the
Secure PDF Index File and individual PDFs to the PUI system.  But rather, we
will reroute these files and place them into the client_pickup directory for
the client to review and download:

  

| Reason| Error Code  
---|---  
Empty or Missing Password| Empty_Password  
Empty or Missing Email Address| Empty_Email_Address  
PDF file size is greater is too big (see Function/Business Logic "PDF Size
Limitation)| Max_PDF_Size_Exceeded  
  
Any documents excluded, will be zipped up and will include an index file with
the associated Error Code for the client to review.  The total number of
documents skipped will be included in the footer of the Secure PDF Index file
that we send over to PUI for reconciliation.

  

Must Have|  
  
5| InfoTRAC Job Tracking:  Retrieve DT_JOB_ID| We will leverage the same
architecture that we have for eStatement Index file processing to insert the
SecurePDF index file name into this same Oracle DB table.  The PUI will
leverage this table to find the matching index file in order to query the
DT_JOB_ID from the IS database.| Medium|  
  
6| External Email Cross reference file| Since most of the core data file do
not have email/password content, the DFA external module must be able to pull
the email/password from external file base on account number.| Must Have|  
  
7| Job Verification| Utilize same method for Estatement job verification base
on DT_JOB_ID and prefix| Must Have|  
  
  
  

## User interaction and design

Include any mockups, diagrams or visual designs relating to these
requirements.

## Questions

Below is a list of questions to be addressed as a result of this requirements
document:

Question| Outcome  
---|---  
(e.g. How we make users more aware of this feature?)| Communicate the decision
reached  
  
## Not Doing

  * We will not customize additional filters for Functional requirement #1 per client.  Only the filter values defined in this documentation is supported.  If new additional filters are added, the filter will apply to ALL clients.
  * We will NOT support InfoTRAC Job Tracking for the SecurePDF Push Notifications services even though the tracking logic may be developed in the project scoping/requirements.


