title: Server Requirements
body: ## Jira Server-side requirements for production

* * *

  

Java| If you intend to use the [Windows
Installer](https://confluence.atlassian.com/adminjiraserver073/installing-
jira-applications-on-windows-861253024.html)or [Linux
Installer](https://confluence.atlassian.com/adminjiraserver073/installing-
jira-applications-on-linux-861253030.html)to install JIRA, there is no need to
install and configure a separate JDK/JRE since these executable files will
install and configure their own JRE to run JIRA, otherwise you will have to
install a supported version of the ORACLE Java runtime. Consult the supported
versions[here](https://confluence.atlassian.com/adminjiraserver073/supported-
platforms-861253018.html).  
---|---  
Hardware|

  * For a small number of projects (less or equal to 100) with 1,000 to 5,000 issues in total and about 100-200 users, a recent server (multicore CPU) with 2GB of available RAM and a reasonably fast hard drive (7200 rpm or faster) should cater for your needs.

  * For more than 100 projects you should monitor JIRA memory usage and allocate more memory if required.

  * If your system will experience a large number of concurrent requests, running JIRA applications on a multicore CPU machine will increase the concurrency of processing the requests, and therefore, speed up the response time for your users.

  * For reference, we have a server that has a 2 Intel(R) Xeon(R) CPU E5520 @ 2.27GHz (16 logical cores) with 32GB of RAM. This server runs Apache, various monitoring systems, and two JIRA application instances:

    * Our [public site](https://jira.atlassian.com/)has approximately: 145,000 issues, 255,000 comments, 120 custom fields, and 115 projects. 

    * Our [support](https://support.atlassian.com/) site has approximately: 285,000 issues, 2,500,000 comments, 75 custom fields, and 22 projects.

For more information, you can also refer to[Scaling JIRA
7.3](https://confluence.atlassian.com/enterprise/scaling-
jira-7-3-867337072.html).

  
Database | Using the embedded H2 database is not supported in production. You
must install and connect your JIRA instance to an [enterprise
database](https://confluence.atlassian.com/adminjiraserver073/connecting-jira-
applications-to-a-database-861253039.html) [supported by
Atlassian](https://confluence.atlassian.com/adminjiraserver073/supported-
platforms-861253018.html).  
Security| Symantec must be uninstalled from the server that you want to
install JIRA applications on, as it is known to dramatically reduce
application performance. For more information, see this knowledge base
article: [Crashes and Performance Issues
Troubleshooting](https://confluence.atlassian.com/jirakb/crashes-and-
performance-issues-troubleshooting-203394749.html).  
  
  

  

# Confluence Server-side requirements for production

* * *

Server administrators can use this guide in combination with the free
Confluence trial period to evaluate their server hardware requirements.
Because server load is difficult to predict, live testing is the best way to
determine what hardware a Confluence instance will require in production.

Peak visitors are the maximum number of browsers simultaneously making
requests to access or update pages in Confluence. Visitors are counted from
their first page request until the connection is closed and if public access
is enabled, this includes internet visitors as well as logged in users.
Storage requirements will vary depending on how many pages and attachments you
wish to store inside Confluence.

### Minimum hardware requirements

The values below refer to the minimum available hardware required to run
Confluence only; for example, the minimum heap size to allocate to Confluence
is 512mb. You'll need additional physical hardware, of at least the minimum
amount required by your Operating System and any other applications that run
on the server.

 On small instances, server load is primarily driven by peak visitors, so
minimum system requirements are difficult to judge. We provide these figures
as a guide to the absolute minimum required to run Confluence, and your
configuration will likely require better hardware.

5 Concurrent Users

  *  **CPU:**  2 x Intel Core 2 (2.66 Ghz, 128K cache)
  *  **RAM:**  2GB
  *  **Minimum database space:  **10GB

25 Concurrent Users

  *  **CPU:**  Quad 2GHz+ CPU
  *  **RAM:**  4GB
  *  **Minimum database space:  **10GB

 **Note:**  Please be aware that while some of our customers run Confluence on
SPARC-based hardware, we only officially support Confluence running on x86
hardware and 64-bit derivatives of x86 hardware. Confluence typically will not
perform well in a tightly constrained, shared environment - examples include
an AWS micro.t1 instance. Please be careful to ensure that your choice of
hosting platform is capable of supplying sustained processing and memory
capacity for the server, particularly the processing-intense startup process.

### Example hardware specifications

These are example hardware specifications for non-clustered Confluence
instances.  It is not recorded whether the amount of RAM refers to either the
total server memory or memory allocated to the JVM, while blank settings
indicate that the information was not provided.

  

Accounts

|

Spaces

|

Pages

|

CPUs

|

CPU (GHz)

|

RAM (MB)

|

Notes  
  
---|---|---|---|---|---|---  
  
150

|

30

|

1,000

|

1

|

2.6

|

1,024

|

  
  
  
350

|

100

|

15,000

|

2

|

2.8

|

1,536

|

  
  
  
5,000

|

500

|

  

|

4

|

3

|

2,048

|

  
  
  
10,000

|

350

|

16,000

|

2

|

3.8

|

2,048

|

  
  
  
10,000

|

60

|

3,500

|

2

|

3.6

|

4,096

|

  
  
  
21,000

|

950

|

  

|

2

|

3.6

|

4,096

|

  
  
  
85,000

|

100

|

12,500

|

4

|

2.6

|

4,096

|

3 machines total: application server, database server, Apache HTTPD + LDAP
tunnel server. See [Accenture's slides and
video](http://blogs.atlassian.com/news/2008/12/connecting_8566.html) for full
details (That link isn't working, but the [slides can be found
here](https://confluence.atlassian.com/conf59/server-hardware-requirements-
guide-792499823.html))  
  
  

### Server load and scalability

When planning server hardware requirements for your Confluence deployment, you
will need to estimate the server scalability based on peak visitors, the
editor to viewer ratio and total content.

  * The editor to viewer ratio is how many visitors are performing updates versus those only viewing content
  * Total content is best estimated by a count of total spaces

Confluence scales best with a steady flow of visitors rather than defined peak
visitor times, few editors and few spaces. Users should also take into
account:

  * Total pages is not a major consideration for performance. For example, instances hosting 80K of pages can consume under 512MB of memory
  * Always [use an external database](https://confluence.atlassian.com/conf59/database-configuration-792499572.html), and check out the [performance tuning guides.](https://confluence.atlassian.com/conf59/performance-tuning-792499788.html)

### Maximum reported usages

These values are largest customer instances reported to Atlassian or used for
performance testing. Clustering, database tuning and other performance tuning
is recommended for instances exceeding these values.

  

Most Spaces

|

1700  
  
---|---  
  
Most Internal Users

|

15K  
  
Most LDAP Users

|

100K  
  
Most Pages

|

80K  
  
  

### Hard disk requirements

All page content is stored in the database, while attachments use [either the
database or file system](https://confluence.atlassian.com/conf59/attachment-
storage-configuration-792499616.html). For example, the wiki instance you are
reading now uses approximately 2.8 GB of database space and 116 GB of disk
space. The more attachments you have, the more disk space you will require.

  
Private and public comparison

Private instances manage their users either internally or through a user
repository such as LDAP, while online instances have public signup enabled and
must handle the additional load of anonymous internet visitors. Please keep in
mind that these are examples only, not recommendations:

  

Use Case

|

Spaces

|

User  
Accounts

|

Editors

|

Editor To  
Viewer Ratio

|

Pages

|

Page Revisions

|

Attachments

|

Comments

|

Total Data  
Size (GB)

|

Notes  
  
---|---|---|---|---|---|---|---|---|---|---  
  
[Online Documentation](https://confluence.atlassian.com/conf59/use-confluence-
as-a-knowledge-base-792499403.html)

|

140

|

11,500

|

1,000

|

9%

|

8,800

|

65,000

|

7,300

|

11,500

|

10.4

|

  
  
  
[Private Intranet](https://confluence.atlassian.com/conf59/use-confluence-as-
your-intranet-792499404.html)

|

130

|

180

|

140

|

78%

|

8,000

|

84,000

|

3,800

|

500

|

4.5

|

  
  
  
[Company-Wide
Collaboration](https://confluence.atlassian.com/conf59/collaboration-792499275.html)

|

100

|

85,000

|

1,000+

|

1%+

|

12,500

|

120,000

|

15,000

|

  

|

  

|

Accenture - see [slides and
video](http://blogs.atlassian.com/news/2008/12/connecting_8566.html) for full
details

(That link isn't working, but the [slides can be found
here](https://confluence.atlassian.com/conf59/server-hardware-requirements-
guide-792499823.html).)  
  
  

### Professional assistance


